header{
    font-family: 'Righteous', cursive;
}

body{
    margin:0;
    padding:0;
    font-family: 'Righteous', cursive;
}
#content{
    width:100%;
}

#name{
    margin:20px;
    text-decoration: none;
    color:white;
    font-size: 35px;
    letter-spacing: 2px;
    width:40%;
}

#name:hover{
    color:violet;
}

.navbar{
    margin:20px;
    width:100%;
    color:white;
    text-decoration: none;
}

.navbar:hover{
    color:violet;
}

nav{
    padding:0px;
    height:75px;
    top:25px;
    position: absolute;
    left: 0px;
    z-index: 1;
    background-color: black;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
} 

#landingtext{
    width: 100%;
    top:18px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: -1;
    align-items: center;
    justify-content: center;
    color:black;
    font-size: 30px;
}

#landingtext:hover{
    font-size: 33px;
}

.panel1{
    margin-top:0px;
    position:relative;
    padding: 0px;
    width:100%;
    background-color: blue;
    z-index: 3;
    height:10px;
}

.panel2{
    width:100%;
    padding:0px;
    position:relative;
    margin-top: 105px;
    background-color:slateblue;
    z-index: 4;
    height:10px;
}

.panel3{
    width:100%;
    padding:0px;
    position:relative;
    background-color:mediumpurple;
    z-index: 5;
    height:10px;
    bottom:10px;
}

#landing{
    width: 100%;
    text-align: center;
}

.writeup{
    position:relative;
    margin-left: 40px;
    width:90%;
    padding:15px;
    bottom:20px;
}

footer{
    bottom:0px;
    background-color: black;
    position: absolute;
    width: 100%;
    display:flex;
    flex-direction:row;
    z-index: 1;
    align-items: center;
    justify-content: center;
    color:white;
}

#footer:hover{
    color:violet;
    stroke-width: 2px;
    stroke: white;
}

a{
    stroke: white;
    color:white;
    text-decoration: none;

}
a:hover{
    color:violet;
    stroke-width: 2px;
    stroke: white;
}


ul{
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    width: 40%;
    justify-content: space-between;
}

#menu-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100vw;
    height:100vh;
    z-index:1;
    color:white
}

h3{
    font-size: 30px;
}